In [0]:
from google.colab import drive
drive.mount('/vkcup/')

Drive already mounted at /vkcup/; to attempt to forcibly remount, call drive.mount("/vkcup/", force_remount=True).

In [0]:
!pip install catboost
!pip install xgboost

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.20.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.1.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.1.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.3.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.24.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.17.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.13.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.6.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (42.0.2)
Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.17.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.3.0)

In [0]:
!pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.6/dist-packages (2.2.1)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from transformers) (1.10.32)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.6/dist-packages (from transformers) (0.0.35)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.6/dist-packages (from transformers) (0.1.83)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from transformers) (4.32.2)
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from transformers) (2019.12.9)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from transformers) (2.22.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from transformers) (1.17.4)
Requirement already satisfied: botocore<1.14.0,>=1.13.32 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (1.13.32)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (0.9.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (0.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (1.13.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (0.14.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (1.25.7)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (2019.11.28)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.32->boto3->transformers) (0.15.2)
Requirement already satisfied: python-dateutil<2.8.1,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.14.0,>=1.13.32->boto3->transformers) (2.6.1)

In [0]:
import transformers
import os
import sys
import glob
import torch

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from scipy.sparse import hstack
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
import xgboost

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [0]:
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]
def fetch_vectors(string_list, batch_size=64):
    # inspired by https://jalammar.github.io/a-visual-guide-to-using-bert-for-the-first-time/
    DEVICE = torch.device("cuda")
    tokenizer = transformers.BertTokenizer.from_pretrained("bert-base-multilingual-cased")
    model = transformers.BertModel.from_pretrained("bert-base-multilingual-cased")#bert-base-multilingual-cased
    model.to(DEVICE)

    fin_features = []
    for data in chunks(string_list, batch_size):
        tokenized = []
        for x in data:
            x = " ".join(x.strip().split()[:300])
            tok = tokenizer.encode(x, add_special_tokens=True)
            tokenized.append(tok[:512])

        max_len = 512
        padded = np.array([i + [0] * (max_len - len(i)) for i in tokenized])
        attention_mask = np.where(padded != 0, 1, 0)
        input_ids = torch.tensor(padded).to(DEVICE)
        attention_mask = torch.tensor(attention_mask).to(DEVICE)

        with torch.no_grad():
            last_hidden_states = model(input_ids, attention_mask=attention_mask)

        features = last_hidden_states[0][:, 0, :].cpu().numpy()
        fin_features.append(features)

    fin_features = np.vstack(fin_features)
    return fin_features

In [0]:
import numpy as np
import pandas as pd
from catboost import CatBoostClassifier, Pool
from sklearn.model_selection import train_test_split

In [0]:
train = pd.read_csv("/vkcup/My Drive/Colab Notebooks/vkcup/train.csv", sep=";")
train.head()

   ID  Answer
0   1       0
1   2       1
2   3       0
3   4       0
4   5       0

In [0]:
test = pd.read_csv("/vkcup/My Drive/Colab Notebooks/vkcup/test.csv", sep=";")
test.head()

      ID
0  30001
1  30002
2  30003
3  30004
4  30005

In [0]:
data = pd.read_csv("/vkcup/My Drive/Colab Notebooks/vkcup/data.csv", sep=";")
data.head()

   ID                                           Question
0   1  Как зовут лодочника на реке Стикс в древнегреч...
1   2                   Как в химии обозначается свинец?
2   3  Какой химический элемент преобладает в составе...
3   4  Кто из перечисленных был пажом во времена Екат...
4   5                    Когда началась 2 мировая война?

In [0]:
data.shape

(41087, 2)

In [0]:
submission = pd.read_csv("/vkcup/My Drive/Colab Notebooks/vkcup/baseline_solution.csv", sep=",", header=None)
submission.head()

       0         1
0  30001  0.213623
1  30002  0.535675
2  30003  0.041250
3  30004  0.603919
4  30005  0.390166

In [0]:
train_data = data.set_index('ID').join(train.set_index('ID')).dropna()
train_data['Answer'] = train_data['Answer'].astype('int')
train_data.head()

                                             Question  Answer
ID
1   Как зовут лодочника на реке Стикс в древнегреч...       0
2                    Как в химии обозначается свинец?       1
3   Какой химический элемент преобладает в составе...       0
4   Кто из перечисленных был пажом во времена Екат...       0
5                     Когда началась 2 мировая война?       0

In [0]:
Y = train_data['Answer']
X = pd.DataFrame(train_data['Question'])
X.shape

(30000, 1)

In [0]:
test_data = data.set_index('ID').join(test.set_index('ID'), how='right').dropna()
test_data.head()

                                                Question
ID
30001        Что в литературе обозначает слово "эпитет"?
30002                     Когда отмечается ДЕНЬ ШОКОЛАДА
30003               Кто из этих бодибилдеров играл Халка
30004  Последняя на данный момент страна, официально ...
30005  Как зовут лютоволка Арьи Старк из сериала  «Иг...

In [0]:
test_data.shape

(11087, 1)

In [0]:
train_question_body_dense = fetch_vectors(X['Question'])

In [0]:
test_question_body_dense = fetch_vectors(test_data['Question'])

In [0]:
import os
import re
import gc
import pickle  
import random
import keras

import numpy as np
import pandas as pd
import tensorflow as tf
#import tensorflow_hub as hub
from keras import backend as K

from keras.models import Model
from keras.layers import Dense, Input, Dropout, Lambda, GlobalAveragePooling1D, LSTM, Conv1D
from keras.optimizers import Adam
from keras.callbacks import Callback
from scipy.stats import spearmanr, rankdata
from os.path import join as path_join
from numpy.random import seed
from urllib.parse import urlparse
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import KFold
from sklearn.linear_model import MultiTaskElasticNet

seed(42)
#tf.random.set_seed(42)
random.seed(42)

Using TensorFlow backend.

In [0]:
def auc(y_true, y_pred):
    auc = tf.metrics.auc(y_true, y_pred)[1]
    K.get_session().run(tf.local_variables_initializer())
    return auc

In [0]:
X_train, X_test, y_train, y_test = train_test_split(train_question_body_dense, Y, test_size=0.3, random_state=42, shuffle=True)

In [0]:
def create_model():
    inps = Input(shape=(train_question_body_dense.shape[1],))
    x = Dense(512, activation='elu')(inps)
    x = Dropout(0.2)(x)
    x = Dense(1024, activation='elu')(x)
    x = Dropout(0.1)(x)
    x = Dense(512, activation='elu')(x)
    x = Dropout(1)(x)
    x = Dense(1, activation='sigmoid')(x)
    model = Model(inputs=inps, outputs=x)
    model.compile(
        optimizer=Adam(lr=1e-4),
        loss=['binary_crossentropy'],
        metrics=[auc]
    )
    model.summary()
    return model

In [0]:
all_predictions = []

model = create_model()
model.fit(X_train, y_train, epochs=50, validation_data=[X_test, y_test], batch_size=32, verbose=True)
all_predictions.append(model.predict(train_question_body_dense))

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, 768)               0
_________________________________________________________________
dense_7 (Dense)              (None, 512)               393728
_________________________________________________________________
dropout_5 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_8 (Dense)              (None, 1024)              525312
_________________________________________________________________
dropout_6 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_9 (Dense)              (None, 512)               524800
_________________________________________________________________
dropout_7 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 513
=================================================================
Total params: 1,444,353
Trainable params: 1,444,353
Non-trainable params: 0
_________________________________________________________________
Train on 21000 samples, validate on 9000 samples
Epoch 1/50
21000/21000 [==============================] - 5s 234us/step - loss: 0.3098 - auc: 0.6778 - val_loss: 0.2933 - val_auc: 0.7110
Epoch 2/50
21000/21000 [==============================] - 5s 225us/step - loss: 0.2935 - auc: 0.7226 - val_loss: 0.3032 - val_auc: 0.7282
Epoch 3/50
21000/21000 [==============================] - 5s 225us/step - loss: 0.2902 - auc: 0.7325 - val_loss: 0.2878 - val_auc: 0.7363
Epoch 4/50
21000/21000 [==============================] - 4s 212us/step - loss: 0.2873 - auc: 0.7404 - val_loss: 0.2830 - val_auc: 0.7433
Epoch 5/50
21000/21000 [==============================] - 5s 219us/step - loss: 0.2849 - auc: 0.7467 - val_loss: 0.2844 - val_auc: 0.7483
Epoch 6/50
21000/21000 [==============================] - 4s 209us/step - loss: 0.2807 - auc: 0.7508 - val_loss: 0.2883 - val_auc: 0.7528
Epoch 7/50
21000/21000 [==============================] - 4s 210us/step - loss: 0.2790 - auc: 0.7549 - val_loss: 0.2856 - val_auc: 0.7563
Epoch 8/50
21000/21000 [==============================] - 5s 216us/step - loss: 0.2766 - auc: 0.7581 - val_loss: 0.2896 - val_auc: 0.7594
Epoch 9/50
21000/21000 [==============================] - 5s 215us/step - loss: 0.2745 - auc: 0.7611 - val_loss: 0.2853 - val_auc: 0.7622
Epoch 10/50
21000/21000 [==============================] - 4s 208us/step - loss: 0.2732 - auc: 0.7636 - val_loss: 0.2875 - val_auc: 0.7649
Epoch 11/50
21000/21000 [==============================] - 5s 215us/step - loss: 0.2717 - auc: 0.7662 - val_loss: 0.2857 - val_auc: 0.7673
Epoch 12/50
21000/21000 [==============================] - 4s 212us/step - loss: 0.2691 - auc: 0.7686 - val_loss: 0.2837 - val_auc: 0.7697
Epoch 13/50
21000/21000 [==============================] - 5s 221us/step - loss: 0.2668 - auc: 0.7711 - val_loss: 0.3091 - val_auc: 0.7720
Epoch 14/50
21000/21000 [==============================] - 4s 204us/step - loss: 0.2640 - auc: 0.7730 - val_loss: 0.2910 - val_auc: 0.7741
Epoch 15/50
21000/21000 [==============================] - 4s 214us/step - loss: 0.2633 - auc: 0.7753 - val_loss: 0.2842 - val_auc: 0.7764
Epoch 16/50
21000/21000 [==============================] - 5s 216us/step - loss: 0.2615 - auc: 0.7774 - val_loss: 0.2977 - val_auc: 0.7783
Epoch 17/50
21000/21000 [==============================] - 4s 212us/step - loss: 0.2593 - auc: 0.7794 - val_loss: 0.2934 - val_auc: 0.7802
Epoch 18/50
21000/21000 [==============================] - 4s 212us/step - loss: 0.2553 - auc: 0.7813 - val_loss: 0.2887 - val_auc: 0.7822
Epoch 19/50
21000/21000 [==============================] - 5s 215us/step - loss: 0.2552 - auc: 0.7832 - val_loss: 0.3003 - val_auc: 0.7841
Epoch 20/50
21000/21000 [==============================] - 4s 214us/step - loss: 0.2527 - auc: 0.7850 - val_loss: 0.2929 - val_auc: 0.7859
Epoch 21/50
21000/21000 [==============================] - 4s 214us/step - loss: 0.2475 - auc: 0.7870 - val_loss: 0.3060 - val_auc: 0.7876
Epoch 22/50
21000/21000 [==============================] - 4s 213us/step - loss: 0.2471 - auc: 0.7885 - val_loss: 0.3111 - val_auc: 0.7891
Epoch 23/50
21000/21000 [==============================] - 4s 212us/step - loss: 0.2449 - auc: 0.7898 - val_loss: 0.3051 - val_auc: 0.7905
Epoch 24/50
21000/21000 [==============================] - 4s 213us/step - loss: 0.2423 - auc: 0.7914 - val_loss: 0.3057 - val_auc: 0.7921
Epoch 25/50
21000/21000 [==============================] - 4s 204us/step - loss: 0.2410 - auc: 0.7929 - val_loss: 0.3028 - val_auc: 0.7937
Epoch 26/50
21000/21000 [==============================] - 5s 222us/step - loss: 0.2385 - auc: 0.7947 - val_loss: 0.3032 - val_auc: 0.7953
Epoch 27/50
21000/21000 [==============================] - 5s 217us/step - loss: 0.2373 - auc: 0.7962 - val_loss: 0.3215 - val_auc: 0.7968
Epoch 28/50
21000/21000 [==============================] - 4s 211us/step - loss: 0.2350 - auc: 0.7975 - val_loss: 0.3246 - val_auc: 0.7981
Epoch 29/50
21000/21000 [==============================] - 5s 217us/step - loss: 0.2330 - auc: 0.7988 - val_loss: 0.3175 - val_auc: 0.7995
Epoch 30/50
21000/21000 [==============================] - 4s 209us/step - loss: 0.2282 - auc: 0.8004 - val_loss: 0.3248 - val_auc: 0.8011
Epoch 31/50
21000/21000 [==============================] - 4s 210us/step - loss: 0.2246 - auc: 0.8018 - val_loss: 0.3464 - val_auc: 0.8025
Epoch 32/50
21000/21000 [==============================] - 5s 215us/step - loss: 0.2277 - auc: 0.8030 - val_loss: 0.3076 - val_auc: 0.8038
Epoch 33/50
21000/21000 [==============================] - 5s 217us/step - loss: 0.2230 - auc: 0.8047 - val_loss: 0.3271 - val_auc: 0.8053
Epoch 34/50
21000/21000 [==============================] - 4s 210us/step - loss: 0.2205 - auc: 0.8061 - val_loss: 0.3143 - val_auc: 0.8067
Epoch 35/50
21000/21000 [==============================] - 4s 211us/step - loss: 0.2189 - auc: 0.8075 - val_loss: 0.3338 - val_auc: 0.8080
Epoch 36/50
21000/21000 [==============================] - 5s 218us/step - loss: 0.2169 - auc: 0.8087 - val_loss: 0.3295 - val_auc: 0.8094
Epoch 37/50
21000/21000 [==============================] - 4s 211us/step - loss: 0.2130 - auc: 0.8101 - val_loss: 0.3485 - val_auc: 0.8107
Epoch 38/50
21000/21000 [==============================] - 4s 211us/step - loss: 0.2128 - auc: 0.8114 - val_loss: 0.3402 - val_auc: 0.8119
Epoch 39/50
21000/21000 [==============================] - 4s 210us/step - loss: 0.2106 - auc: 0.8125 - val_loss: 0.3562 - val_auc: 0.8130
Epoch 40/50
21000/21000 [==============================] - 5s 216us/step - loss: 0.2060 - auc: 0.8137 - val_loss: 0.3756 - val_auc: 0.8141
Epoch 41/50
21000/21000 [==============================] - 4s 206us/step - loss: 0.2066 - auc: 0.8146 - val_loss: 0.3307 - val_auc: 0.8152
Epoch 42/50
21000/21000 [==============================] - 5s 218us/step - loss: 0.2030 - auc: 0.8159 - val_loss: 0.3539 - val_auc: 0.8165
Epoch 43/50
21000/21000 [==============================] - 4s 214us/step - loss: 0.2014 - auc: 0.8171 - val_loss: 0.3422 - val_auc: 0.8178
Epoch 44/50
21000/21000 [==============================] - 5s 220us/step - loss: 0.1992 - auc: 0.8184 - val_loss: 0.3574 - val_auc: 0.8189
Epoch 45/50
21000/21000 [==============================] - 4s 212us/step - loss: 0.1968 - auc: 0.8195 - val_loss: 0.3623 - val_auc: 0.8200
Epoch 46/50
21000/21000 [==============================] - 4s 212us/step - loss: 0.1954 - auc: 0.8206 - val_loss: 0.3852 - val_auc: 0.8212
Epoch 47/50
21000/21000 [==============================] - 4s 210us/step - loss: 0.1939 - auc: 0.8218 - val_loss: 0.3757 - val_auc: 0.8223
Epoch 48/50
21000/21000 [==============================] - 5s 215us/step - loss: 0.1908 - auc: 0.8229 - val_loss: 0.3715 - val_auc: 0.8234
Epoch 49/50
21000/21000 [==============================] - 5s 217us/step - loss: 0.1875 - auc: 0.8240 - val_loss: 0.3870 - val_auc: 0.8245
Epoch 50/50
21000/21000 [==============================] - 5s 219us/step - loss: 0.1854 - auc: 0.8250 - val_loss: 0.3932 - val_auc: 0.8255

In [0]:
metrics.roc_auc_score(Y, all_predictions[0])

0.882766906706491

In [0]:
import re
pred =  model.predict(test_question_body_dense)
ques = ['Кто', 'Что', 'Какой', 'Который', 'Где', 'Когда', 'Почему', 'Зачем', 'Куда', 'Откуда', 'Чей', 'Как', 'Чего','Кем','Чем','Кого','Чего', 'Сколько','Скольких', 'Каких', 'Кому', 'Чему','Чём', 'Чьим', 'Самое','Скольким','Скольким','Самая', 'Самый','Чья','Чью']
ques = ques + [q.lower() for q in ques]

for i, s in enumerate(test_data['Question']):
  if '?' not in s:
    pred[i] = 0
  if s[0].islower():
    pred[i] = 0
  if ' ?' in s:
    pred[i] = 0
  fl = 0
  for q in ques:
    if q in s:
      fl = 1
  if fl ==0:
    pred[i] = 0
  if s.find('   ') != -1:
    pred[i] = 0
  if s.find('\\n') != -1:
    pred[i] = 0
  if s.find(',,') != -1:
    pred[i] = 0
  if s.find(' ,') != -1:
    pred[i] = 0
  if s.find('http') != -1:
    pred[i] = 0
  if s.find('Здравствуйте') != -1:
    pred[i] = 0
  if s.find('? ') != -1:
    pred[i] = 0
  if s.find('!?')!=-1 or s.find('?!')!=-1:
    pred[i] = 0

In [0]:
submission[1] = pred

In [0]:
submission.to_csv('/vkcup/My Drive/Colab Notebooks/vkcup/submission.csv', sep=",", header=None, index=None)